NODE_ENV=environment

# Graph database connection
GRAPH_DB_PASSWORD=your password
GRAPH_DB_USER=your user
GRAPH_DB_HOST=Host of the graph database
GRAPH_DB_NAME=the name of the graph database
GRAPH_DB_PORT=the port of the graph database
GRPC_SERVER_PORT=the port that the gRPC server should listen on
GRPC_SERVER_HOST=the host of the gRPC server
DEBUG=the namespace for logging
ADMINISTRATOR_EMAIL=admin's email
ADMINISTRATOR_NAME=admin's name
ADMINISTRATOR_PICTURE=url to admin's picture
SECRET_KEY=your secret key
FRONTEND_URL=host of our frontend
GOOGLE_CLIENT_ID=your google client id
