NODE_ENV=environment

# Graph database connection
GRAPH_DB_PASSWORD=your password
GRAPH_DB_USER=your user
GRAPH_DB_HOST=Host of the graph database
GRAPH_DB_NAME=the name of the graph database
GRAPH_DB_PORT=the port of the graph database

# gRPC server settings
GRPC_SERVER_PORT=the port that the gRPC server should listen on
GRPC_SERVER_HOST=the host of the gRPC server

# npm debug setting
DEBUG=the namespace for logging

# seeded admin settings
ADMINISTRATOR_EMAIL=admin's email
ADMINISTRATOR_NAME=admin's name
ADMINISTRATOR_PICTURE=url to admin's picture

SECRET_KEY=your secret key
FRONTEND_URL=host of our frontend

# For google auth
GOOGLE_CLIENT_ID=your google client id

# For emails
MAILGUN_API_KEY=our mailgun api key
MAILGUN_DOMAIN=our mailgun domain

# For our protocol buffers
PROTOBUF_BRANCH=branch from which to retrieve the protocol buffers
PROTOBUF_URL=url from which to retrieve the protocol buffers
PROTOBUF_USER=github username from which to retrieve the protocol buffers

# Mongo db
MONGO_DB_HOST=the host of the mongodb
MONGO_DB_PORT=the port at which the mongo daemon listens
MONGO_DB_NAME=the name of the db to connect to
